<section class="container">
    <h3>Filtrar Produtos</h3>
 
    <div class="filtro-grupo">
      <h3>Público</h3>
      <button 
        (click)="filtrarPorPublico('INFANTIL')"
        [class.ativo]="publicoSelecionado === 'INFANTIL'">
        Infantil
      </button>
      <button 
        (click)="filtrarPorPublico('ADULTO')"
        [class.ativo]="publicoSelecionado === 'ADULTO'">
        Adulto
      </button>
      <button (click)="filtrarPorPublico(null)">Limpar</button>
    </div>
 
    <div class="filtro-grupo">
      <h3>Tipo</h3>
      <button (click)="filtrarPorTipo('INFLAVEL')" [class.ativo]="tipoSelecionado === 'INFLAVEL'">
        Inflável
      </button>
      <button (click)="filtrarPorTipo('MECANICA')" [class.ativo]="tipoSelecionado === 'MECANICA'">
        Mecânico
      </button>
      <button (click)="filtrarPorTipo('RECREATIVO')" [class.ativo]="tipoSelecionado === 'RECREATIVO'">
        Recreativo
      </button>
      <button (click)="filtrarPorTipo('ELETRONICO')" [class.ativo]="tipoSelecionado === 'ELETRONICO'">
        Eletrônico
      </button>
      <button (click)="filtrarPorTipo(null)">Limpar</button>
    </div>
 
    <button (click)="limparFiltros()" class="btn-limpar-tudo">
      Limpar Tudo
    </button>
</section>