<section class="container">
    <div class="publico">
        <h3>Público</h3>

        <div>
            <button class="btn-publico">Infantil</button>
            <button class="btn-publico">Adulto</button>
        </div>
    </div>

    <div class="tipo">
        <h3>Tipo</h3>

        <div>
            <button class="btn-tipo">Inflável</button>
            <button class="btn-tipo">Mecânico</button>
            <button class="btn-tipo">Recreativo</button>
            <button class="btn-tipo">Eletrônico</button>
        </div>
    </div>

    <div class="filtro">
        <h3>Filtro por preço</h3>
    </div>

</section>
