<section class="container">
    <div class="produtos">

        <div class="cards">

            <div class="card">
                <img src="assets/images/castelo.png" alt="Produto 1">
                <div class="textos">
                    <h3>Castelo</h3>
                    <p style="font-weight: 600; color: #369d1a;">R$200</p>
                    <p>De 3 a 12 Anos</p>
                    <button class="btn">Comprar</button>
                </div>
            </div>

            <div class="card">
                <img src="assets/images/castelo.png" alt="Produto 1">
                <div class="textos">
                    <h3>Castelo</h3>
                    <p style="font-weight: 600; color: #369d1a;">R$200</p>
                    <p>De 3 a 12 Anos</p>
                    <button class="btn">Comprar</button>
                </div>
            </div>

            
        </div>
    </div>
</section>
