:host {
    display: block;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

:host img {
    display: block;
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    opacity: 0.5;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 10px solid #b64646;
    background-color: #ffffff;
    box-shadow: 0 5px 10px #0000001a;

    margin: 40px 20px;
    width: 96.5%;
    height: 400px;

    position: relative;
    z-index: 2;

}