<section>
    <span>
        <h1>Gerenciar Produtos</h1>
    </span>

    <section class="container">
        <h2>Reserva - vai ser aparecer n e nome</h2>

        <div class="excluir">
            <img src="" alt="">
        </div>
        
        <h3>Informações importante:</h3>

        <h4>Data:</h4>
        <h4>Endereço do Evento:</h4>
        <h4>Horários:</h4>

        <h4>Brinquedos:</h4>

        <div class="produto">
            <img src="path/to/product/image.jpg" alt="Produto">
            <div class="detalhes">
                <h5> qtd parameter </h5>
                <h5> nome do produto parameter </h5>
                <div class="preco">
                    <h5> preco parameter </h5>
                </div>
            </div>    
        </div>

        <div class="botao">
            <button>Confirmar</button>
            <button>Finalizar</button>
            <button>Cancelar</button>
        </div>

    </section>

</section>