<img class="bg-fundo" src="assets/images/fundo.png" alt="">

<div class="login-wrapper">

  <section class="login-header-bar">
    <h1>Login</h1>
  </section>

  <form class="login-card" (ngSubmit)="entrar()">

    <div class="logo-area">
      <img src="assets/images/logo.png" alt="Logo Baú da Felicidade" class="login-logo">
    </div>

    <p class="mensagem-erro" *ngIf="errorMessage">{{ errorMessage }}</p>

    <div class="form-grupo">
      <label class="form-label">E-mail</label>
      <input class="form-input" type="email" name="email" placeholder="Digite seu e-mail" [(ngModel)]="credentials.email" required>
    </div>

    <div class="form-grupo">
      <label class="form-label">Senha</label>
      <input class="form-input" type="password" name="senha" placeholder="Digite sua senha" [(ngModel)]="credentials.senha" required>
    </div>
    <div class="esqueci-senha">
       <a routerLink="/forgot-password">Esqueci a senha</a>
    </div>
   

    <div class="acoes">
      <button class="btn-entrar" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Entrando...' : 'Entrar' }}
      </button>
      <button class="btn-cadastrar" type="button" routerLink="/cadastros">Criar conta</button>
    </div>

  </form>
</div>
